.login-container {
  background-image: url("https://cdn.pixabay.com/photo/2016/05/19/18/16/chess-1403622_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-card {
  background-color: oklch(97% 0.001 106.424);
  margin-top: 200px;
  border-radius: 5px;
  padding: 12px;
}
