<div class="w-[100vw] h-[100vh] welcome-container flex justify-center">
  <div class="welcome-card w-[500px] h-[200px] shadow-sm shadow-[black]">
    <div
      (click)="onPassAndPlayMode()"
      class="w-[200px] flex justify-center items-center bg-black text-white rounded-[4px] cursor-pointer hover:text-[yellow]"
    >
      Pass N Play
    </div>
    <div class="flex-1">
      <div *ngIf="waitingGamesList$ | async as waitingGames">
        <h2>Join Game ({{ waitingGames.length }})</h2>
        <div class="h-[150px] overflow-auto">
          <div
            *ngFor="let game of waitingGames; let i = index"
            class="text-[13px] cursor-pointer hover:bg-[black] hover:text-[yellow] game-list"
            (click)="joinGame(game)"
          >
            {{ i + 1 }}. ID: {{ game.id }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-[400px] button signin-button hover:text-yellow cursor-pointer"
    style="margin-top: 12px"
    (click)="showPlayAsOption = true"
  >
    Create Room
  </div>
  <div
    class="w-[400px] button signin-button hover:text-yellow cursor-pointer"
    style="margin-top: 12px"
    (click)="onSignOut()"
  >
    Sign Out
  </div>
  <div
    class="flex flex-col items-center w-fit"
    style="margin-top: 12px"
    *ngIf="showPlayAsOption"
  >
    <div class="text-[yellow]">Play As</div>
    <div class="flex gap-[12px] h-[100px] w-[200px]" style="margin-top: 12px">
      <img
        src="../../../assets/classic/black-king.svg"
        class="border-black rounded-[4px] border-[2px] hover:bg-[yellow] cursor-pointer bg-[white]"
        alt=""
        width="100px"
        height="100px"
        srcset=""
        (click)="onCreateRoomClick(true)"
      />
      <img
        src="../../../assets/classic/white-king.svg"
        class="border-black rounded-[4px] border-[2px] hover:bg-[yellow] cursor-pointer bg-[black]"
        alt=""
        width="100px"
        height="100px"
        srcset=""
        (click)="onCreateRoomClick(false)"
      />
    </div>
  </div>
</div>
