/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --black-box-color: rgb(181, 136, 99);
  --white-box-color: rgb(240, 217, 181);
  --selected-box-color: rgb(100, 111, 64);
  --hover-box-color: rgb(163, 172, 133);
  --moved-from-color: rgb(163, 172, 133);
  --moved-to-color: rgb(163, 172, 133);
}
